table th, table td { white-space: nowrap; }

.react-autosuggest__input {
 margin: 20px;
 width: 350px;
 margin-left: 0px;
 border-radius: 20px;
 padding: 5px;
 border: 1px solid #6c757d;
}

.app-title {
 font-weight: 800;
 margin: 20px;
 color: #3e52ce;
 font-size: 30px;
}

.search-select {
  margin: 20px;
  padding: .375rem .75rem;
  color: white;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-right: 30px;
  margin-left: 10px;
  .search-filter-option {
    font-weight: bold;
    color: white;
  }
}

.action-buttons-bottom-row {
  margin: 10px auto 10px 0px !important;
}

.row-actions-container {
  margin-top: 10px;
}

.search-container {
  margin-left: 15px !important;
}

.search-inner-container {
  display: inline-block;
}

.outer-container {
  padding-top: 20px;
  padding-bottom: 20px;

  items-align: center;
}

.edit-del-action-container {
  float: right;
}

.empty-container-card {
  text-align: center;
}

.scraped-data-inner-container {
  display: list-item;
  font-size: small;
}
.scraped-data-inner-container > label {
    font-weight: bold;
}

.inner-card {
  margin: 10px;
}

.toggle-arrow {
  float: right;
  height: 10px;
  width: 20px;
}

.suggestion-text {
  font-weight: bold;
}